go 1.22.0

use ./interpreter

use ./basics

use ./end-to-end

use ./projects/goly

use ./projects/kanban

use ./projects/pubsub

use ./projects/redis

use ./projects/secrets

use ./projects/text-search

use ./projects/saas

use ./projects/analytics

use ./projects/sqlite-testing

use ./react-ssr