package views

templ template() {
	<link rel="stylesheet" href="./assets/output.css"/>
	<div id="wrapper">
		{ children... }
	</div>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.20.8/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.20.8/dist/js/uikit-icons.min.js"></script>
}
